<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="constr" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=LibraryAfet;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
	</connectionStrings>
</configuration>