<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="constr" connectionString="Data Source=STHQ0118-09;Initial Catalog=LibraryAfet;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False;User Id=Admin;Password=admin "/>
	</connectionStrings>
</configuration>