<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="constr" connectionString="Data Source=DESKTOP-0P1DC60\SQLEXPRESS;Initial Catalog=LibraryAfet;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
		
		
	</connectionStrings>
</configuration>
